[submodule "libs/geometry.hpp"]
	path = libs/geometry.hpp
	url = https://github.com/mapbox/geometry.hpp.git
[submodule "libs/variant"]
	path = libs/variant
	url = https://github.com/mapbox/variant.git
[submodule "libs/optional"]
	path = libs/optional
	url = https://github.com/mapbox/Optional.git
[submodule "libs/args"]
	path = libs/args
	url = https://github.com/Taywee/args
